<div class="card mb-3 col-12">
    <div class="row g-0">
        <div class="col-md-7">
            <img src="~/images/@Model.ImgUrl" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <form action="/ShoppingCart/AddToCart">
                    <input type="hidden" name="productId" value="@Model.Id"></input>
                    <div class="row mb-3">
                        <div class="col-6">
                            <input type="number" class="form-control" placeholder="Count..." name="count">
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Add To Cart</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>